<div class = 'itemlisting' id="<%= dom_id room %>">

<div class='roomlink'><%= link_to "#{room.name}", room%></div>
<div><%= room.items.count%></div>
<div class = 'list'>
<% room.items.each do |i| %>
<%= link_to "#{i.name}", i %>
<% end %>
</div>
</div>
