<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>
<div class='topbar'>
<%= link_to "+ New Room", new_room_path%>
</div>

<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= link_to "Show this room", room %>
    </p>
  <% end %>
</div>

