<h1>Rooms</h1>
<div class='topbar' id='roombar'>
<%= render 'search'%>
<%= link_to "+ New Room", new_room_path%>
</div>

<div id="rooms">
<div class='itemlisting'>
    <h3>Room</h3>
    <h3># Items</h3>
    <h3>List</h3>
  </div>
  <% @rooms.each do |room| %>
    <%= render room %>
  <% end %>
</div>

