<div class='indiv'>
<%= render @room %>

<div class='listinglinks'>
  <%= link_to "â† Back", rooms_path %>
  <%= link_to "Edit Room Name", edit_room_path(@room) %>
  <%= button_to "Delete Room", @room, method: :delete %>
</div>

</div>
