<div class="nested-fields">
    <%= f.fields_for :room do |room| %>
      <%= render "room_fields", f: room %>
    <% end %>
    <button data-action="click->remover#remove:prevent">Remove</button>
</div>