<div class='indiv'>

<%= render @item %>

<div class='listinglinks'>
  <%= link_to "â† Back", items_path %>
  <%= link_to "Edit Item", edit_item_path(@item) %>
  <%= button_to "Delete Item", @item, method: :delete %>
</div>

</div>
