/* colors:
#F5F1ED: isabelline
#596869: dim gray
#36453B: dark slate gray
#515751: ebony
#FA7E61: bittersweet
*/

html{
    font-family: 'Lato', sans-serif;
    color: #515751;
}

body{
min-height: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center
}

.back{
    margin-bottom: 3vh;
}

.back a{
    height: 100%;
    align-self: center;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 22px;
    background-color: transparent;
    color: #36453B;
    border: 0px;
}

.nav{
    width: 100vw;
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #515751;
}

.pagelinks{
    display: flex;
}

.nav a{
    height: 100%;
    align-self: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
    font-size: 18px;
    background-color: transparent;
    color: #36453B;
    border: 0px;
    border-radius: 0px;
}

#items, #rooms{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.itemlisting{
    display: grid;
    width: 75vw;
    grid-template-columns: 1.25fr 1fr 1.25fr;
    column-gap: 2vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-bottom: 1px solid #36453B;
}

.itemlisting .details{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
    font-size: 18px;
}

.warrantyinfo p{
    font-size: 20px;
}

.itemlisting a{
    height: 25px;
    font-size: 18px;
    margin-left: 0;
    margin-top: 0px;
    padding: 7px;
    background-color: #36453B;
    color: #F5F1ED;
    border: 0px;
    margin-top: 10px;
    width: fit-content;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2vw;
}

.list a{
    font-size: auto;
    height: fit-content;
    margin-top: 0px;
}

#roombar{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.roomlink a{
    background-color: transparent;
    color: #36453B;
    font-size: 20px;
}


.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-bottom: 2vh;
    gap: 3vw;
}

.topbar a{
    width: 15%;
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    background-color: transparent;
    color: #36453B;
    border: none;

}

.search{
    width: 80%;
    border-right: 1px solid #515751;
}

.search .field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search .field input{
    height: 12px;
}

.search .field input[type=submit]{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;
    height: 25px;
    line-height: 0px;
    width: 70%;
}

.search form{
    display:grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1fr;
    margin-left: 2vw;
    align-items: top;
    gap: 2vw;
}

#roomsearch form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#roomsearch .submit{
    width: 30%;
    margin-top: 0px;
}

.form{
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
margin: 8px;
width: 100%;
max-width: 50vw;
background: #F5F1ED;
border-radius: 4px;
box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.room-items-exist{
display: flex;
flex-direction: column;
}

.form form{
display: flex;
flex-direction: column;
}

h3{
font-size: 22px;
}

.field, .nested-fields{
margin-bottom: 5px;
display: flex;
flex-direction: column;
gap: 4px;
width: 100%;
}

.field label, .nested-fields label, .check label{
margin-top: 7px;
}

.field input, .nested-fields input{
font-size: 16px;
line-height: 25px;
padding: 8px;
width: 95%;
min-height: 20px;
border-radius: 8px;
border-style: solid;
outline-color: rgb(84 105 212 / 0.5);
background-color: rgb(255, 255, 255);
}

.submit{
justify-self: center;
align-self: center;
margin-top: 10px;
}

input[type=submit], .form a, button, input[type=file], a{
font-size: 20px;
padding: 15px;
border-radius: 8px;
border-style: solid;
outline-color: rgb(84 105 212 / 0.5);
color: #f5f1ed;
background-color: #36453B;
text-decoration: none;
}

input[type=submit]:hover, .form a:hover, button:hover, a:hover{
color: #515751;
background-color: #F5F1ED;
}

.form a, input[type=file]{
font-size: 16px;
text-decoration: none;
width: 80%;
}

.loginlinks a{
font-size: 14px;
}

button{
background-color: #596869;
font-size: 14px;
text-align: left;
width: 50%;
}

.check{
display: flex;
justify-content: space-between;
width: 100%;
}

.check input[type=checkbox]{
width: 10%;
}

select{
font-size: 16px;
line-height: 25px;
padding: 8px;
width: 95%;
min-height: 20px;
border-radius: 8px;
border-style: solid;
outline-color: rgb(84 105 212 / 0.5);
background-color: rgb(255, 255, 255);
}

.remove{
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 16px;
text-align: center;
width: 16px;
height: 16px;
background-color: #FA7E61;
border-width: 0px;
}

.loginlinks{
width: 100%;
display: flex;
margin: 10px;
gap: 7px;
justify-content: center;
}

.loginlinks a{
width: 35%;
text-align: center;
background-color: #596869;
}