html{
    font-family: 'Lato', sans-serif;
 }

 body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
 }

 .nav{
    display: flex;
    align-items: flex-start;
    gap:10vw;
 }

 #items, #rooms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5vh;
 }

 .search form{
    display:flex;
    align-items: center;
 }

 .field{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    justify-content: center;
 }